__pycache__/
.pytest_cache/
.venv/
dist/
build/
*.egg-info/
.DS_Store
*.png
.carbontrack/
carbontrack/_pycache_/*
carbontrack/__init__.py
carbontrack/cli.py
carbontrack/model.py
carbontrack/viz.py
carbontrack/maintenance.py
README.md
